<div id="mainDiv"></div>

<div class="row messageContainer">
    <div class="col s12">
        <h5 class="dashMessage">{{this.message}}</h5>
    </div>
</div>

<div class="row">
    <div class="col s12">
        <div class="card homeCard" id="goalCheckerCardDiv">
            <div class="card-content homeCard">
                <span class="card-title">Goals</span>
                <div id="goalCheckerDiv">
                    <p>Goal checker will go here</p>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col s6">
        <div class="card homeCard">
            <div class="card-content homeCard">
                <span class="card-title">New Shift</span>
                <p>Click below to create a new shift</p>
            </div>
            <div class="card-action">
                <a href="/shift">New Shift</a>
            </div>
        </div>
    </div>
    <div class="col s6">
        <div class="card homeCard">
            <div class="card-content homeCard">
                <span class="card-title">Edit Shifts</span>
                <p>Click below to edit or delete a currently existing shift</p>
            </div>
            <div class="card-action">
                <a href="/shiftsTable">Edit/Delete Shifts</a>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="./javascript/goalChecker.js"></script>