<div class="row messageContainer">
    <div class="col s12">
        <h5 class="dashMessage">{{this.message}}</h5>
    </div>
</div>

<div class="row">
    <div class="col s6">
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                <span class="card-title">New Shift</span>
                <p>Click below to create a new shift</p>
            </div>
            <div class="card-action">
                <a href="/shift">New Shift</a>
            </div>
        </div>
    </div>
    <div class="col s6">
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                <span class="card-title">Edit/Delete Shifts</span>
                <p>Click below to edit or delete a currently existing shift</p>
            </div>
            <div class="card-action">
                <a href="/shiftsTable">Edit/Delete Shifts</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col s6">
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                <span class="card-title">New Job</span>
                <p>Click below to create a new job</p>
            </div>
            <div class="card-action">
                <a href="/job">New Job</a>
            </div>
        </div>
    </div>
    <div class="col s6">
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                <span class="card-title">Edit/Delete Job</span>
                <p>Click below to edit or delete a currently existing job</p>
            </div>
            <div class="card-action">
                <a href="/jobsTable">Edit/Delete Jobs</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col s6">
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                <span class="card-title">New Goal</span>
                <p>Click below to create a new goal</p>
            </div>
            <div class="card-action">
                <a href="/goal">New Goal</a>
            </div>
        </div>
    </div>
    <div class="col s6">
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                <span class="card-title">Edit/Delete Goal</span>
                <p>Click below to edit or delete a currently existing goal</p>
            </div>
            <div class="card-action">
                <a href="/goalsTable">Edit/Delete Goals</a>
            </div>
        </div>
    </div>
</div>