<div>
    <h4>Feedback</h4>
    <form method="POST" action="/sendFeedback" onsubmit="return validateForm()" >
        <div class="input-field">
            <input id="email" type="email" name="user_email" value={{this.user.user_email}}>
            <label for="email">Email (optional)</label>
        </div>
        <div class="input-field">
            <textarea id="comments" name="comment"></textarea>
            <label for="comments">Let us know of any problems or suggestions.</label>
        </div>
        <button class="btn" type="submit">Send Feedback</button>
    </form>
</div>

<script type="text/javascript" src="./javascript/feedback.js"></script>