
    <div class="row">
  <div class="col s12 chartHolder">
	<div id="chartdiv"></div>
  </div>
  </div>
     <div class="row">
  <div class="col s12 summaryTable">
        <table class="bordered">
        <tbody>
          <tr>
            <td><div class="summaryLegend" style="border-color: blue;"></div></td>
            <td>Highest Walked With</td>
            <td class="highestWalkedVal">50</td>
            <td><div class="switch"><label><input type="checkbox" checked><span data='.amcharts-graph-totalWalkedWith' class="lever"></span></label></div> </td>
          </tr>
            <tr>
            <td><div class="summaryLegend" style="border-color: blue;"></div></td>
            <td>Lowest Walked With</td>
            <td class="lowestWalkedVal">50</td>
            <td> </td>
          </tr>
          <tr>
            <td><div class="summaryLegend" style="border-color: red;"></div></td>
            <td>Sales</td>
            <td class="salesVal">50</td>
            <td><div class="switch"><label><input type="checkbox"><span data='.amcharts-graph-sales' class="lever"></span></label></div> </td>
          </tr>
          <tr>
            <td><div class="summaryLegend" style="border-color: blue;"></div></td>
            <td>Best Tip</td>
            <td class="largestTipVal">50</td>
            <td><div class="switch"><label><input type="checkbox"><span data='.amcharts-graph-largestTip' class="lever"></span></label></div> </td>
          </tr>
           <tr>
            <td><div class="summaryLegend" style="border-color: blue;"></div></td>
            <td>Smallest Tip</td>
            <td class="smallestTipVal">50</td>
            <td><div class="switch"><label><input type="checkbox"><span data='.amcharts-graph-smallestTip' class="lever"></span></label></div> </td>
          </tr>
           <tr>
            <td><div class="summaryLegend" style="border-color: blue;"></div></td>
            <td>Stiffed</td>
            <td class="stiffedVal">50</td>
            <td><div class="switch"><label><input type="checkbox"><span data='.amcharts-graph-stiffed' class="lever"></span></label></div> </td>
          </tr>
          <tr>
            <td><div class="summaryLegend" style="border-color: blue;"></div></td>
            <td>Tip Percent</td>
            <td class="tipPercentVal">50</td>
            <td><div class="switch"><label><input type="checkbox"><span data='.amcharts-graph-tipPercent' class="lever"></span></label></div> </td>
          </tr>
           <tr>
            <td><div class="summaryLegend" style="border-color: blue;"></div></td>
            <td>Tip Out</td>
            <td class="tipOutVal">50</td>
            <td><div class="switch"><label><input type="checkbox"><span data='.amcharts-graph-tipout' class="lever"></span></label></div> </td>
          </tr>
          <tr>
            <td><div class="summaryLegend" style="border-color: blue;"></div></td>
            <td>BWL</td>
            <td class="bwlVal">50</td>
            <td><div class="switch"><label><input type="checkbox"><span data='.amcharts-graph-bwl' class="lever"></span></label></div> </td>
          </tr>
          <tr>
            <td><div class="summaryLegend" style="border-color: blue;"></div></td>
            <td>PPA</td>
            <td class="ppaVal">50</td>
            <td><div class="switch"><label><input type="checkbox"><span data='.amcharts-graph-ppa' class="lever"></span></label></div> </td>
          </tr>
              <tr>
            <td></td>
            <td>Total Earned (before taxes)</td>
            <td class="totalEarnedVal">50</td>
            <td></td>
          </tr>
               <tr>
            <td></td>
            <td>Average Hourly Earned</td>
            <td class="hourlyEarnedVal">50</td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
    </div>
<div class="row stickyBottom">
<div class="container ">
<div class="row ">
  <div class="col s12">
  <span class="date1 datespan">Date 1</span> through <span class="date2 datespan">Date 2</span>
  </div>
  </div>
<div class="row ">
  <div class="col s12">
<div id="dateSlider" ng-model="hello" ng-value="start"></div>
  </div>
</div>
</div>
</div>


<script src="./javascript/amcharts/amcharts.js"></script>
<script src="./javascript/amcharts/serial.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/wnumb/1.0.4/wNumb.min.js'></script>
<script type="text/javascript" src="./javascript/nouislider.min.js"></script>
<script type="text/javascript" src="./javascript/financialSummaryTest.js"></script>