
    <div class="row">
  <div class="col s12 chartHolder">
	<div id="chartdiv"></div>
	<div id="legenddiv"></div>
  </div>
  </div>
     <div class="row">
  <div class="col s12 summaryTable">
        <table class="bordered">
        <tbody>
          <tr>
            <td><div class="summaryLegend" style="border-color: blue;"></div></td>
            <td>Avg Walked With</td>
            <td class="averageWalkedVal">50</td>
            <td><div class="switch"><label><input type="checkbox" checked><span data='totalWalkedWith' graphed='true' class="lever"></span></label></div> </td>
          </tr>
          <tr>
            <td><div class="summaryLegend" style="border-color: red;"></div></td>
            <td>Avg Sales</td>
            <td class="avgSalesVal">50</td>
            <td><div class="switch"><label><input type="checkbox"><span data='sales' graphed='false' class="lever"></span></label></div> </td>
          </tr>
          <tr>
            <td><div class="summaryLegend" style="border-color: blue;"></div></td>
            <td>Best Tip</td>
            <td class="largestTipVal">50</td>
            <td><div class="switch"><label><input type="checkbox"><span data='largestTip' graphed='false' class="lever"></span></label></div> </td>
          </tr>
           <tr>
            <td><div class="summaryLegend" style="border-color: blue;"></div></td>
            <td>Smallest Tip</td>
            <td class="smallestTipVal">50</td>
            <td><div class="switch"><label><input type="checkbox"><span data='smallestTip' graphed='false' class="lever"></span></label></div> </td>
          </tr>
           <tr>
            <td><div class="summaryLegend" style="border-color: blue;"></div></td>
            <td>Times Stiffed</td>
            <td class="stiffedVal">50</td>
            <td><div class="switch"><label><input type="checkbox"><span data='stiffed' graphed='false' class="lever"></span></label></div> </td>
          </tr>
          <tr>
            <td><div class="summaryLegend" style="border-color: blue;"></div></td>
            <td>Avg Tip Percent</td>
            <td class="avgTipPercentVal">50</td>
            <td><div class="switch"><label><input type="checkbox"><span data='tipPercent' graphed='false' class="lever"></span></label></div> </td>
          </tr>
           <tr>
            <td><div class="summaryLegend" style="border-color: blue;"></div></td>
            <td>Avg Tipout</td>
            <td class="avgTipOutVal">50</td>
            <td><div class="switch"><label><input type="checkbox"><span data='tipout' graphed='false' class="lever"></span></label></div> </td>
          </tr>
          <tr>
            <td><div class="summaryLegend" style="border-color: blue;"></div></td>
            <td>Avg BWL</td>
            <td class="avgBwlVal">50</td>
            <td><div class="switch"><label><input type="checkbox"><span data='bwl' graphed='false' class="lever"></span></label></div> </td>
          </tr>
          <tr>
            <td><div class="summaryLegend" style="border-color: blue;"></div></td>
            <td>Avg PPA</td>
            <td class="avgPPAVal">50</td>
            <td><div class="switch"><label><input type="checkbox"><span data='ppa' graphed='false' class="lever"></span></label></div> </td>
          </tr>
              <tr>
            <td></td>
            <td>Total Earned (before taxes)</td>
            <td class="totalEarnedVal">50</td>
            <td></td>
          </tr>
           <tr>
            <td></td>
            <td>Most Walked With</td>
            <td class="mostWalkedVal">50</td>
            <td></td>
          </tr>
           <tr>
            <td></td>
            <td>Least Walked With</td>
            <td class="leastWalkedVal">50</td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td>Average Hourly Earned</td>
            <td class="avgHourlyVal">50</td>
            <td></td>
          </tr>
           <tr>
            <td></td>
            <td>Total Hours Worked</td>
            <td class="totalHoursVal">50</td>
            <td></td>
          </tr>
            <tr>
            <td></td>
            <td>Avg Shift Length</td>
            <td class="avgShiftLengthVal">50</td>
            <td></td>
          </tr>
        </tbody>
      </table>
      <div class="bottomSpacer"></div>
    </div>
    </div>
<div class="row stickyBottom">
<div class="container ">
<div class="row ">
  <div class="col s12">
  <span class="date1 datespan">Date 1</span> through <span class="date2 datespan">Date 2</span>
  </div>
  </div>
<div class="row ">
  <div class="col s12">
<div id="dateSlider" ng-model="hello" ng-value="start"></div>
  </div>
</div>
</div>
</div>


<script src="./javascript/amcharts/amcharts.js"></script>
<script src="./javascript/amcharts/serial.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/wnumb/1.0.4/wNumb.min.js'></script>
<script type="text/javascript" src="./javascript/nouislider.min.js"></script>
<script type="text/javascript" src="./javascript/financialSummaryTest.js"></script>