<div id="mainDiv">
	<div id="fixFont">
		<h4>Flash Cards</h4>

		<!-- At some point ensure nothing goes wrong if a job does not have any menus yet.  Add a link to menu builder in that case? -->

        {{#unless jobs}}
            <div id="dropdown">
	            <div class="input-field">
	                <h5>To use the flash cards, you must create a job and a menu.</h5>
	                <a href="/job"><h5>Click here to create a job.</h5></a>
	            </div>
	        </div>
        {{/unless}}

		{{#if jobs}}
		   	<div id="dropdown">
			    <div class="input-field">
			        <select class="jobSelector" onchange="loadMenus(this);">
			            <option value="" disabled>Click here to choose a job</option>
			            {{#each jobs}}
			                <option value="{{dataValues.id}}" selected>{{dataValues.job_name}}</option>
			            {{/each}}
			        </select>
			        <label>Job Selector</label>
			    </div>
			</div>
		{{/if}}
	</div>
</div>

<div id="flashCardContainer">
	<div id="area1"></div>
	<div id="area2"></div>
</div>

<script type="text/javascript" src="./javascript/flashCards.js"></script>