<div id="mainDiv"> 
    <h4>Fill out this form to create a new goal</h4>

    <form method="POST" action="/newGoal">
        
        <div class="input-field">
            <input id="goalName" type="text" class="validate" name="goalName" required>
            <label for="goalName">Goal Name</label>
        </div>

        <div class="input-field">
            <input name="goalDeadline" id="goalDeadline" type="date" class="datepicker" required>
            <label for="goalDeadline">Click here to select a deadline for this goal</label>
        </div>

        <div class="input-field">
            <textarea name="goalText" id="goalText" required></textarea>
            <label for="goalText">Goal Text</label>
        </div>
        
        <!--goalStatus JSON would go here-->

        <div class="input-field">
            <textarea name="comments" id="comments"></textarea>
            <label for="comments">Comments</label>
        </div>

        <button class="btn waves-effect waves-light">Create New Goal</button>
    </form>
</div>

<script type="text/javascript" src="./javascript/goal.js"></script>

