<div id="mainDiv"> 
    <div class="row">
        <div class="col s12">
            <br><h4>Goal checker test</h4>
        </div>
    </div>
</div>

<script type="text/javascript" src="./javascript/goalChecker.js"></script>

