<div class="row">
    <div class="col s12">
		<h4 class='welcome'>Welcome to PreShiftPlanner.com!</h4>
    </div>
</div>

<div class="row">

    <div class="col s12">
		<div class="card homeCard">
		    <div class="card-content homeCard">
		        <span class="card-title">Do this stuff:</span>
		        <p>1) Create an account</p>
		        <p>2) Login</p>
		        <p>3) Create a job</p>
		        <p>4) Each time you work, login to add data for that shift (sales, bwl, ppa, etc - get a printout!) </p>
		        <p>5) Create a goal</p>
		        <p>6) Next time you login, the site will check your goals and notify you if any deadlines have passed or are upcoming.  You can also go to "Dashboard With Goal Checker" to try this feature out any time.</p>
		        <hr>
		        <p>-If you'd like to see the work we're doing on the financial summary, we've created a dummy account with six months' worth of randomized fake financial data.  Feel free to login to this account and poke around with that, to see what it looks like with more than just a few days' data.  Please use this account ONLY to view the financial summary.</p>
		        <p>Email: molander16@yahoo.com</p>
		        <p>Password: password</p>
		    </div>
		</div>
    </div>

    <div class="col s12">
		<div class="card homeCard">
		    <div class="card-content homeCard">
		        <span class="card-title">Wait for this stuff:</span>
	        	<p>*Timeline creator, with shift comments/breakthroughs and goals, over time</p>
	        	<p>*Add/Edit/Delete menus</p>
	        	<p>*Flash cards and multiple-choice menu quizzes</p>
		    </div>
		</div>
    </div>

</div>