<div class="row"></div>

<div class="row">
    <div class="col s12">
      <div class="card home-card">
          <div class="card-content home-card">
              <span class="card-title">Welcome to PreShiftPlanner.com</span>
              Have a look around!  We're adding new features all the time.
          </div>
      </div>
    </div>
</div>
<div class="row landingPage">
<div class="col s12">
    <i class="material-icons homeIcon">&#xE7FD;</i>
    <h4 class="moveUp">1. Sign Up</h4>
    <p class="landText">Sign up and sign in to get started</p>
    </div>
    <div class="col s12">
    <i class="material-icons arrow">&#xE313;</i>
     
    </div>
	<div class="col s12">
    <i class="material-icons homeIcon">&#xE862;</i>
       <h4 class="moveUp">2. Create</h4>
    <p class="landText">Enter tips, menus and job info.</p>

    </div>
        <div class="col s12">
    <i class="material-icons arrow">&#xE313;</i>
    </div>
    <div class="col s12">
    <i class="material-icons homeIcon">&#xE85C;</i>
       <h4 class="moveUp">3. See results</h4>
    <p class="landText">Use our tools to increase tips!</p>

    </div>

</div>