<div class="card home-card">
    <div class="card-content home-card">
        <span class="card-title">Welcome to PreShiftPlanner.com</span>
        Have a look around! We're adding new features all the time.
    </div>
</div>

<div class="landingPage">
    <h4 class="moveUp">1. Sign Up</h4>
    <p class="landText">Sign up and sign in to get started</p>
    <h4 class="moveUp">2. Create</h4>
    <p class="landText">Enter tips, menus and job info.</p>
    <h4 class="moveUp">3. See results</h4>
    <p class="landText">Use our tools to increase tips!</p>
</div>