<div id="mainDiv" class="container">
    <div id="fixFont">
        <div class="col s12">
            <br><h4>Load Menu</h4>
        </div>

		{{#unless jobs}}
	        <div id="dropdown">
	            <div class="input-field col s12">
	                <h5>To make a menu, you must create a job.</h5>
	                <a href="/job"><h5>Click here to create a job.</h5></a>
	            </div>
	        </div>
        {{/unless}}

		{{#if jobs}}
			<form class="col s12" id="menuForm">

				<div id="dropdown">
				    <div class="input-field col s12">
				        <select class="jobSelector" name="job_id" id="jobID" required onchange="loadMenus(this);">
				            <option value="" disabled>Click here to choose a job</option>
				            {{#each jobs}}
				                <option value="{{dataValues.id}}" selected>{{dataValues.job_name}}</option>
				            {{/each}}
				        </select>
				        <label>Job Selector</label>
				    </div>
				</div>

				<!--hidden job id element-->
				<input type="hidden" id='jobIdPopulate'>

	            <div class="col s12 menuFormHolder">
	                <div class="row">
	                    <div class="input-field col s12">
	                        <input id="menuName" type="text" required class="validate" name="menuName">
	                        <label for="menuName">Menu Name</label>
	                    </div>
	                    <div class="input-field col s12">
	                        <textarea name="comments" id="comments" class="materialize-textarea"></textarea>
	                        <label for="comments">Comments</label>
	                    </div>
	                    <div class="input-field col s12 CRIpanel">
	                        <ul class="collapsible" data-collapsible="expandable">
	                            <li>
	                                <div class="collapsible-header">
	                                    <h4 class="CRIheader">Commonly Requested Items</h4>
	                                </div>
	                                <div class="collapsible-body menuOverflow CRI"></div>
	                            </li>
	                        </ul>
	                    </div>
	                </div>
	            </div>
	        </form>

		    <div class="row ">
		        <div class="input-field col s12">
		            <select class="categorySelector" onchange="addCategory(this);">
		                <option value="" disabled selected>Add Menu Category</option>
		                <optgroup label="Food">
		                    <option value="entree">Entrees</option>
		                    <option value="appetizer">Appetizers</option>
		                    <option value="dessert">Desserts</option>
		                    <option value="sides">Sides</option>
		                    <option value="addOn">Add-Ons</option>
		                    <option value="soupOrSalad">Soups and Salads</option>
		                    <option value="kidsMenu">Kids Menu</option>
		                    <option value="otherFood">Other Food</option>
		                </optgroup>
		                <optgroup label="Drink">
		                    <option value="wine">Wine</option>
		                    <option value="beer">Beer</option>
		                    <option value="cocktails">Cocktails</option>
		                    <option value="nonAlcoholic">Non-Alcoholic</option>
		                    <option value="afterDinnerDrink">After Dinner Drinks</option>
		                    <option value="otherDrink">Other Drinks</option>
		                </optgroup>
		            </select>
		            <label>Create new Menu Category.</label>
		        </div>
		    </div>		   	
		{{/if}}
    </div>
</div>

<div id="menuResults"></div>

<script type="text/javascript" src="./javascript/loadMenu.js"></script>