<div class="loginFailContainer">
    <div class="messageContainer">
        <h5>Failed to login.</h5>
    </div>
    <div class="messageContainer">
        <h5><a href="/login">Click here to try again.</a></h5>
    </div>
</div>

