<h4>Please Login</h4>
<form method="POST" action="/login">

        <div class="input-field">
            <input id="email" type="email" class="validate" name="username">
            <label for="email">Email</label>
        </div>

        <div class="input-field">
            <input id="password" type="password" class="validate" name="password">
            <label for="password">Password</label>
        </div>
        <a href="/signup">Click here to sign up.</a>
        <a href="/passwordReset">I forgot my password.</a>
    <button class="btn waves-effect waves-light loginSubmitBtn" type="submit">Submit</button>

</form>

<script type="text/javascript" src="./javascript/login.js"></script>