<div id="mainDiv">
    <h4>Menu Builder</h4>

    <form  id="menuForm">
        <!--jobID INT-->
        <div class="input-field">
            <select name="job_id" id="jobID" required>
                <option value="" disabled>Click here to choose a job</option>
                {{#each jobs}}
                <option value="{{this.id}}">{{dataValues.job_name}}</option>
                {{/each}}
            </select>
            <label>Job Selector</label>
        </div>
        <div class="menuFormHolder">
            <div class="input-field">
                <input id="menuName" type="text" required class="validate" name="menuName">
                <label for="menuName">Menu Name</label>
            </div>
            <div class="input-field">
                <textarea name="comments" id="comments"></textarea>
                <label for="comments">Comments</label>
            </div>
            <div class="input-field CRIpanel">
                <ul class="collapsible" data-collapsible="expandable">
                    <li>
                        <div class="collapsible-header">
                            <h4 class="CRIheader">Commonly Requested Items</h4>
                        </div>
                        <div class="collapsible-body menuOverflow CRI"></div>
                    </li>
                </ul>
            </div>
        </div>
    </form>

    <div class="input-field">
        <select class="categorySelector" onchange="addCategory(this);">
            <option value="" disabled selected>Add Menu Category</option>
            <optgroup label="Food">
                <option value="entree">Entrees</option>
                <option value="appetizer">Appetizers</option>
                <option value="dessert">Desserts</option>
                <option value="sides">Sides</option>
                <option value="addOn">Add-Ons</option>
                <option value="soupOrSalad">Soups and Salads</option>
                <option value="kidsMenu">Kids Menu</option>
                <option value="otherFood">Other Food</option>
            </optgroup>
            <optgroup label="Drink">
                <option value="wine">Wine</option>
                <option value="beer">Beer</option>
                <option value="cocktails">Cocktails</option>
                <option value="nonAlcoholic">Non-Alcoholic</option>
                <option value="afterDinnerDrink">After Dinner Drinks</option>
                <option value="otherDrink">Other Drinks</option>
            </optgroup>
        </select>
        <label>Create new Menu Category.</label>
    </div>

</div>

<script type="text/javascript" src="./javascript/menuBuilder.js"></script>