<div id="mainDiv" class="container">
    <div class="row">
        <div class="col s12">
            <br><h4>Menu JSON Creator</h4>
        </div>
    </div>
</div>

<div class="container" id="Container">
	<div class="row" id="area1">
		<div class="col-md-12">Menu JSON created????</div>
	</div>
</div>

<script type="text/javascript" src="./javascript/menuJSONCreator.js"></script>