<div id="mainDiv">
    <h4>Menu JSON Creator</h4>
</div>

<div id="Container">
	<div id="area1">
		<div>Menu JSON created????</div>
	</div>
</div>

<script type="text/javascript" src="./javascript/menuJSONCreator.js"></script>