<div id="mainDiv">

    <div class="row">
        <div class="row">
            <div class="col s12">
                <br><h4>Menu Builder</h4>
            </div>
        </div>

        <form class="col s12" id="menuForm">

            <!--jobID INT-->
            <div class="input-field col s12">
                <select name="job_id" id="jobID" required>
                    <option value="" disabled>Choose a Job for this Menu</option>
                    {{#each jobs}}
                        <option value="{{this.id}}">{{this.job_name}}</option>
                    {{/each}}
                </select>
                <label>Job Selector</label>
            </div>

            <!--totalWalkedWith DECIMAL(10,2)-->
            <div class="input-field col s12">
                <p>
      <input type="checkbox" class="filled-in" id='filled-in-box' name ='item1'/>
      <label class="checkboxLabel" for="filled-in-box">Filled in</label>
      <input type="checkbox" class="filled-in" id='filled-in-box2' name ='item2'/>
      <label class="checkboxLabel" for="filled-in-box2">Filled in</label>
      <input type="checkbox" class="filled-in" id='filled-in-box3' name ='item3'/>
      <label class="checkboxLabel" for="filled-in-box3">Filled in</label>
    </p>
            </div>
        
    
             <div class="testButton">Test</div>
        </form>
    </div>
</div>

  <div id="timeEqual" class="modal">
    <div class="modal-content">
      <h5>In-Time and Out-Time cannot be the same.</h5>
      <button class="btn waves-effect waves-light" onclick="closeModal()">Oops. I'll fix it.</button>
    </div>
  </div>

<div id="timeLess" class="modal">
<div class="modal-content">
      <h5>In-Time is before Out-Time.</h5>
      <div class="row">
      <button class="btn waves-effect waves-light" onclick="closeModal()">Oops. I'll fix it.</button>
      </div>
       <button class="btn waves-effect waves-light shiftSubmit" onclick="submitForm()" type="submit">Submit Anyways.</button>
    </div>
  </div>

<script type="text/javascript" src="./javascript/menuBuilder.js"></script>