<div class="row container grayBorder">
    <div class="col s12">
        <table class="bordered">
            <thead>
                <tr>
                    <th>Job Name</th>
                    <th>Start Date</th>
                    <!--       <th>Wage</th> -->
                    <th class="formEditButton">Edit/Delete</th>
                </tr>
            </thead>
            <tbody>
                {{#each allJobs}}
                <tr>
                    <td>{{dataValues.job_name}}</td>
                    <td>{{dataValues.startDate}}</td>
                    <!--   <td>${{dataValues.wage}}</td> -->
                    <td>
                        <form class="formEditButton" action="/editJob{{dataValues.id}}?" method="GET"><button class='tableEditButton' type="submit"><i class="small material-icons">mode_edit</i></button></form>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>