<div class="row">
    <div class="row">
        <div class="col s12">
            <h4>Password Reset</h4>
        </div>
    </div>
        <div class="row">
        <div class="col s12">
            <p>Please enter your E-mail and we will send you instructions shortly.</p>
        </div>
    </div>
    <form class="col s12" method="POST" action="/reset">
        <div class="row">
            <div class="input-field col s12">
                <input id="email" type="email" class="validate" name="user_email">
                <label for="email">Email</label>
            </div>
        </div>
        <button class="btn waves-effect waves-light loginSubmitBtn" type="submit">Reset Password.
        </button>
        <div class="row">
        </div>
    </form>
</div>
<script type="text/javascript" src="./javascript/login.js"></script>