<h4>Password Reset</h4>
<p>Please enter your E-mail and we will send you instructions shortly.</p>
<form method="POST" action="/reset">
    <div class="input-field">
        <input id="email" type="email" class="validate" name="user_email">
        <label for="email">Email</label>
    </div>
    <button class="btn loginSubmitBtn" type="submit">Reset Password.</button>
</form>
<script type="text/javascript" src="./javascript/login.js"></script>