<div id="mainDiv">
    <div id="fixFont">
        <h4>Quiz Maker</h4>

        <!-- At some point ensure nothing goes wrong if a job does not have any menus yet.  Add a link to menu builder in that case? -->

		{{#unless jobs}}
	        <div id="dropdown">
	            <div class="input-field">
	                <h5>To use the quiz maker, you must create a job and a menu.</h5>
	                <a href="/job"><h5>Click here to create a job.</h5></a>
	            </div>
	        </div>
        {{/unless}}

		{{#if jobs}}
		   	<div id="dropdown">
			    <div class="input-field col s12">
			        <select class="jobSelector" onchange="loadMenus(this);">
			            <option value="" disabled>Click here to choose a job</option>
			            {{#each jobs}}
			                <option value="{{dataValues.id}}" selected>{{dataValues.job_name}}</option>
			            {{/each}}
			        </select>
			        <label>Job Selector</label>
			    </div>
			</div>
		{{/if}}
    </div>
</div>

<div id="triviaContainer">
	<div id="messageArea"></div>
	<div id="answersArea"></div>
</div>

<script type="text/javascript" src="./javascript/quizMaker.js"></script>