<div id="mainDiv">
    <div class="container" id="fixFont">
        <div class="col s12">
            <br><h4>Quiz Maker</h4>
        </div>

		{{#unless jobs}}
	        <div id="dropdown">
	            <div class="input-field col s12">
	                <h5>To use the quiz maker, you must create a job and a menu.</h5>
	                <a href="/job"><h5>Click here to create a job.</h5></a>
	                <a href="javascript:startQuizMaker(9999);"><h5>Click here to try the quiz maker using the Fleming's menu</h5></a>
	            </div>
	        </div>
        {{/unless}}

		{{#if jobs}}
		   	<div id="dropdown">
			    <div class="input-field col s12">
			        <select class="jobSelector" onchange="loadMenus(this);">
			            <option value="" disabled>Click here to choose a job</option>
			            <option value="9999" selected>Dummy Job - Fleming's</option>
			            {{#each jobs}}
			                <option value="{{this.id}}" selected>{{this.job_name}}</option>
			            {{/each}}
			        </select>
			        <label>Job Selector</label>
			    </div>
			</div>
		{{/if}}
    </div>
</div>

<div class="container" id="triviaContainer">
	<div class="row" id="messageArea">
		<div class="col-md-12"></div>
	</div>
	<div class="row" id="answersArea">
		<div class="col-md-12"></div>
	</div>
</div>

<script type="text/javascript" src="./javascript/quizMaker.js"></script>