<div id="mainDiv">

    <div class="row">
        <div class="col s6">

            <!--@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-->
            <!--Edit Shift Form-->
            <!--@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-->

            <div class="row">
                <div class="col s12">
                    <br><h4>Select a date here to edit a shift</h4>
                </div>
            </div>

            <div class="row" id="dateToEditDiv">
                <!--dateToEdit DATE-->
                <div class="input-field col s12">
                    <input id="dateToEdit" type="date" class="datepicker"> <!--Default to today?  That'd be nice.-->
                    <label for="dateToEdit">Click here to select a date</label>
                </div>
            </div>

            <button class="btn waves-effect waves-light shiftEditBtn">Search for shift(s) to edit</button>

        </div>

        <div class="col s6">

            <!--@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-->
            <!--Delete Shift Form-->
            <!--@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-->

            <div class="row">
                <div class="col s12">
                    <br><h4>Select a date here to delete a shift</h4>
                </div>
            </div>

            <div class="row" id="dateToDeleteDiv">
                <!--dateToDelete DATE-->
                <div class="input-field col s12">
                    <input id="dateToDelete" type="date" class="datepicker"> <!--Default to today?  That'd be nice.-->
                    <label for="dateToDelete">Click here to select a date</label>
                </div>
            </div>

            <button class="btn waves-effect waves-light shiftDeleteBtn">Search for shift(s) to delete</button>

        </div>
    </div>

    <!--@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-->
    <!--New Shift Form-->
    <!--@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-->

    <div class="row">
        <div class="row">
            <div class="col s12">
                <br><h4>Fill out this form to create a new shift.  Decimals are OK.  No need for '$' or '%'.</h4>
            </div>
        </div>

        <form class="col s12">

            <!--totalWalkedWith DECIMAL(10,2)-->
            <div class="input-field col s12">
                <input id="totalWalkedWith" type="text" class="validate">
                <label for="totalWalkedWith">Total walked with</label>
            </div>
        
            <!--largestTip DECIMAL(10,2)-->
            <div class="input-field col s12">
                <input id="largestTip" type="text" class="validate">
                <label for="largestTip">Largest tip</label>
            </div>

            <!--smallestTip DECIMAL(10,2)-->
            <div class="input-field col s12">
                <input id="smallestTip" type="text" class="validate">
                <label for="smallestTip">Smallest tip</label>
            </div>

            <!--stiffed INT(10)-->
            <div class="input-field col s12">
                <input id="stiffed" type="text" class="validate">
                <label for="stiffed">Number of times stiffed (hopefully zero!)</label>
            </div>

            <!--sales DECIMAL(10,2)-->
            <div class="input-field col s12">
                <input id="sales" type="text" class="validate">
                <label for="sales">Sales</label>
            </div>

            <!--ppa DECIMAL(10,2)-->
            <div class="input-field col s12">
                <input id="ppa" type="text" class="validate">
                <label for="ppa">PPA</label>
            </div>

            <!--tipout DECIMAL(10,2)-->
            <div class="input-field col s12">
                <input id="tipout" type="text" class="validate">
                <label for="tipout">Total tipped out</label>
            </div>

            <!--tipPercent DECIMAL(10,2)-->
            <div class="input-field col s12">
                <input id="tipPercent" type="text" class="validate">
                <label for="tipPercent">Tip %</label>
            </div>

            <!--bwl DECIMAL(10,2)-->
            <div class="input-field col s12">
                <input id="bwl" type="text" class="validate">
                <label for="bwl">BWL %</label>
            </div>

            <!--comments MEDIUMBLOB-->
            <div class="input-field col s12">
                <textarea id="comments" class="materialize-textarea"></textarea>
                <label for="comments">Comments</label>
            </div>

            <!--breakthroughs MEDIUMBLOB-->
            <div class="input-field col s12">
                <textarea id="breakthroughs" class="materialize-textarea"></textarea>
                <label for="breakthroughs">Breakthroughs</label>
            </div>

            <!--shiftDate DATE-->
            <div class="input-field col s12">
                <input id="shiftDate" type="date" class="datepicker">
                <label for="shiftDate">Click here to select a date for this shift</label>
            </div>

            <!--timeIn TIMESTAMP NOT NULL-->
            <br><br><br><br>
            <input type="range" min="0" max="1425" value="720" step="15" class="timeRun" id="inTime" onchange="showInTime(this.value)"/><br><span id="inTimeSpan">In-time: 12:00:00 </span><br><br>

            <!--timeOut TIMESTAMP NOT NULL-->
            <input type="range" min="0" max="1425" value="1020" step="15" class="timeRun" id="outTime" onchange="showOutTime(this.value)"/><br><span id="outTimeSpan">Out-time: 17:00:00</span><br><br>

            <!--shiftType VARCHAR(32)-->
            <select id="shiftType">
              <option value="" disabled selected>Choose shift type</option>
              <option value="breakfast">Breakfast</option>
              <option value="lunch">Lunch</option>
              <option value="dinner">Dinner</option>
              <option value="double">Double</option>
            </select>
            <label>Shift type</label>

            <button class="btn waves-effect waves-light shiftSubmitBtn">Submit Shift</button>

            <div class="row"></div>
        </form>
    </div>
</div>
    <!-- In <body> -->
    <script src="./javascript/nouislider.min.js"></script>

<script type="text/javascript" src="./javascript/shift.js"></script>
<script type="text/javascript" src="./javascript/wNumb.js"></script>