<div class="row">
  <div class="col s12">
    <table class="bordered">
      <thead>
        <tr>
            <th>Date</th>
            <th>Time In</th>
            <th>Job Name</th>
            <th class="formEditButton">Edit/Delete</th>
        </tr>
      </thead>

      <tbody>
       {{#each allShifts}}
        <tr>
          <td>{{this.shiftDate}}</td>
          <td>{{this.timeIn}}</td>
          <td>{{this.Job.job_name}}</td>
          <td><form class="formEditButton" action="/editShift{{this.id}}?" method="GET"><button class='tableEditButton' type="submit"><i class="small material-icons">mode_edit</i></button></form></td>
        </tr>
      {{/each}}
      </tbody>
    </table>
  </div>
</div>
<div class="row stickyBottom">
<div class="container ">
<div class="row ">
  <div class="col s12">
  <span class="date1">Date 1</span> and <span class="date2">Date 2</span>
  </div>
  </div>
<div class="row ">
  <div class="col s12">
<div id="dateSlider" ng-model="hello" ng-value="start"></div>
  </div>
</div>
</div>
</div>

<script src='https://cdnjs.cloudflare.com/ajax/libs/wnumb/1.0.4/wNumb.min.js'></script>
<script type="text/javascript" src="./javascript/nouislider.min.js"></script>
<script type="text/javascript" src="./javascript/shiftTable.js"></script>


