<div id="mainDiv">

<!--@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-->
    <!--Edit Shift Form-->
    <!--@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-->

    <div class="row">
        <div class="col s12">
            <h4>Shift Edit</h4>
        </div>
    </div>

    <div class="row" id="dateToEditDiv">
        <!--dateToEdit DATE-->
        <div class="input-field col s12">
            <input id="dateToEdit" type="date" class="datepicker"> <!--Default to today?  That'd be nice.-->
            <label for="dateToEdit">Date to edit</label>
        </div>
    </div>

    <button class="btn waves-effect waves-light shiftEditBtn">Search for shift(s) to edit</button>

    <!--@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-->
    <!--Delete Shift Form-->
    <!--@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-->

    <div class="row">
        <div class="col s12">
            <h4>Shift Delete</h4>
        </div>
    </div>

    <div class="row" id="dateToDeleteDiv">
        <!--dateToDelete DATE-->
        <div class="input-field col s12">
            <input id="dateToDelete" type="date" class="datepicker"> <!--Default to today?  That'd be nice.-->
            <label for="dateToDelete">Date to delete</label>
        </div>
    </div>

    <button class="btn waves-effect waves-light shiftDeleteBtn">Search for shift(s) to delete</button>

    <!--@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-->
    <!--New Shift Form-->
    <!--@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-->

    <div class="row">
        <div class="row">
            <div class="col s12">
                <h4>Shift Form</h4>
            </div>
        </div>

        <form class="col s12">

            <div class="row"></div>

            <div class="row">
                <!--totalWalkedWith DECIMAL(10,2)-->
                <div class="input-field col s12">
                    <input id="totalWalkedWith" type="text" class="validate">
                    <label for="totalWalkedWith">Total walked with</label>
                </div>
            </div>

            <div class="row">
                <!--largestTip DECIMAL(10,2)-->
                <div class="input-field col s12">
                    <input id="largestTip" type="text" class="validate">
                    <label for="largestTip">Largest tip</label>
                </div>
            </div>

            <div class="row">
                <!--smallestTip DECIMAL(10,2)-->
                <div class="input-field col s12">
                    <input id="smallestTip" type="text" class="validate">
                    <label for="smallestTip">Smallest tip</label>
                </div>
            </div>

            <div class="row">
                <!--stiffed INT(10)-->
                <div class="input-field col s12">
                    <input id="stiffed" type="text" class="validate">
                    <label for="stiffed">Number of times stiffed (hopefully zero!)</label>
                </div>
            </div>

            <div class="row">
                <!--bwl DECIMAL(10,2)-->
                <div class="input-field col s12">
                    <input id="bwl" type="text" class="validate">
                    <label for="bwl">BWL</label>
                </div>
            </div>

            <div class="row">
                <!--sales DECIMAL(10,2)-->
                <div class="input-field col s12">
                    <input id="sales" type="text" class="validate">
                    <label for="sales">Sales</label>
                </div>
            </div>

            <div class="row">
                <!--tipout DECIMAL(10,2)-->
                <div class="input-field col s12">
                    <input id="tipout" type="text" class="validate">
                    <label for="tipout">Total tipped out</label>
                </div>
            </div>

            <div class="row">
                <!--tipPercent DECIMAL(10,2)-->
                <div class="input-field col s12">
                    <input id="tipPercent" type="text" class="validate">
                    <label for="tipPercent">Tip %</label>
                </div>
            </div>

            <div class="row">
                <!--ppa DECIMAL(10,2)-->
                <div class="input-field col s12">
                    <input id="ppa" type="text" class="validate">
                    <label for="ppa">PPA</label>
                </div>
            </div>

            <div class="row">
                <!--comments MEDIUMBLOB-->
                <div class="input-field col s12">
                    <textarea id="comments" class="materialize-textarea"></textarea>
                    <label for="comments">Comments</label>
                </div>
            </div>

            <div class="row">
                <!--breakthroughs MEDIUMBLOB-->
                <div class="input-field col s12">
                    <textarea id="breakthroughs" class="materialize-textarea"></textarea>
                    <label for="breakthroughs">Breakthroughs</label>
                </div>
            </div>

            <div class="row">
                <!--shiftDate DATE-->
                <div class="input-field col s12">
                    <input id="shiftDate" type="date" class="datepicker">
                    <label for="shiftDate">Date of shift start</label>
                </div>
            </div>

            <div class="row">
                <!--timeIn TIMESTAMP NOT NULL-->
                <input type="range" min="0" max="1425" value="720" step="15" class="timeRun" id="inTime" onchange="showInTime(this.value)"/><br><span id="inTimeSpan">In-time: 12:00:00 </span><br><br>
            </div>

            <div class="row">
                <!--timeOut TIMESTAMP NOT NULL-->
                <input type="range" min="0" max="1425" value="1020" step="15" class="timeRun" id="outTime" onchange="showOutTime(this.value)"/><br><span id="outTimeSpan">Out-time: 17:00:00</span>
            </div>

            <div class="row">
                <!--shiftType VARCHAR(32)-->
                <select id="shiftType">
                  <option value="" disabled selected>Choose shift type</option>
                  <option value="breakfast">Breakfast</option>
                  <option value="lunch">Lunch</option>
                  <option value="dinner">Dinner</option>
                  <option value="double">Double</option>
                </select>
                <label>Shift type</label>
            </div>

            <button class="btn waves-effect waves-light shiftSubmitBtn">Submit Shift
            </button>
            <div class="row">
            </div>
        </form>
    </div>
</div>

</div>
    <!-- In <body> -->
    <script src="./javascript/nouislider.min.js"></script>

<script type="text/javascript" src="./javascript/shift.js"></script>
<script type="text/javascript" src="./javascript/wNumb.js"></script>