<div id="mainDiv">
    <h4>Timeline test page</h4>
    <br>
    <h4>View the console for comments, breakthroughs, and goals data</h4>
</div>

<script type="text/javascript" src="./javascript/timeline.js"></script>