/* COLORS!

Red rgba(171, 51, 50, 1);
DarkBlue rgba(40, 50, 79, 1);
LightBlue rgba(73, 97, 125, 1);
Cream rgba(252, 250, 208, 1);
Tan rgba(170, 162, 147, 1);

*/

.home-card{
	text-align: center;
}

.landingPage{
	text-align: center
}

.landText {
	color: rgba(73, 97, 125, 1) !important;
}

.arrow {
	color: rgba(73, 97, 125, .5) !important;
	font-size: 65px;
}

.homeIcon{
	color: rgba(73, 97, 125, 1) !important;
	font-size: 125px;
	margin-bottom: -20px;
}

.moveUp{
	margin-top: 0px;
}

#triviaContainer{
	position: relative;
	background-color: rgba(170, 162, 147, .2);
	box-shadow: 2px 4px 5px rgba(170, 162, 147, .4);
	min-height: 200px;
	padding: 30px;
	font-family: 'Khand', sans-serif;
	color: #49617e;
	font-size: 22px;
}

#flashCardContainer{
	position: relative;
	background-color: rgba(170, 162, 147, .2);
	box-shadow: 2px 4px 5px rgba(170, 162, 147, .4);
	min-height: 200px;
	padding: 30px;
	font-family: 'Khand', sans-serif;
	color: #49617e;
	font-size: 22px;
}

.flipButton{
	position: absolute;
	left: 0px;
	bottom:0px;
}

.flashFront{
	text-align: center;
	font-family: 'Khand', sans-serif;
	color:rgba(73, 97, 125, 1);
	text-transform: uppercase;
	font-size: 35px;
}

.flashBackTitle{
	color:rgba(73, 97, 125, 1);
	font-weight: 700;
}
.flashBackText {
    color: rgba(73, 97, 125, 1);
}


td{
	color: rgba(73, 97, 125, 1); 
}

nav {
	background-color: rgba(73, 97, 125, 1);
	box-shadow: none;
}

.side-nav{
	background-color: rgba(252, 250, 208, 1);
}

.side-nav a{
	color:rgba(73, 97, 125, 1);
}

a.button-collapse{
	color: rgba(252, 250, 208, 1); 
}

.noUi-connect, .noUi-horizontal .noUi-handle, .noUi-vertical .noUi-handle {
	background-color: rgba(98, 146, 202, 1);
}

.switch label input[type=checkbox]:checked+.lever:after {
	background-color: rgba(98, 146, 202, 1);
}

.switch label .lever, .switch label input[type=checkbox]:checked+.lever{
	background-color: rgba(170, 162, 147, .5);
}

h4 {
	font-family: 'Khand', sans-serif;
	color:rgba(73, 97, 125, 1);
	text-transform: uppercase;
}

h5 {
	color:rgba(73, 97, 125, 1);
}

[type="checkbox"].filled-in:not(:checked)+label:after {
    border: 2px solid rgba(73, 97, 125, 1);
}

.input-field label{
	color: rgba(73, 97, 125, .7);
}


body {
	background-color: rgba(252, 250, 208, 1); 
}

p {
	color: rgba(40, 50, 79, 1) !important; 
}

.card {
	background-color: rgba(170, 162, 147, .3);
	color: rgba(40, 50, 79, 1);
	box-shadow: none;
}

.card .card-action {
	background-color: rgba(40, 50, 79, 1);
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating) {
	color: rgba(170, 162, 147, 1);
}

.card .card-title{
	font-size: 40px;
	font-family: 'Khand', sans-serif;
	color:rgba(73, 97, 125, 1);
	text-transform: uppercase;
}

  input[type=range]::-webkit-slider-thumb {
    background-color: rgba(98, 146, 202, 1);
  }
  input[type=range]::-moz-range-thumb {
    background-color: rgba(98, 146, 202, 1);
  }
  input[type=range]::-ms-thumb {
    background-color: rgba(98, 146, 202, 1);
  }


.welcome{
	text-align: center;
}

.btn{
	background-color: rgba(40, 50, 79, 1);
	box-shadow: none;
}

.btn:focus, .btn-large:focus, .btn-floating:focus {
    background-color: rgba(40, 50, 79, 1);
}

.btn:hover {
	background-color: rgba(73, 97, 125, 1);
}

.brand-logo{
	margin-top: 10px;
	margin-left: 20px;
}
.signUpError {
	color: rgba(171, 51, 50, 1);
}

.picker__weekday-display{
	background-color:rgba(40, 50, 79, 1);
}

.picker__date-display{
	background-color: rgba(73, 97, 125, 1);
}

.picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected{
	background-color: rgba(73, 97, 125, 1);
}

.picker__close, .picker__today {
	color:rgba(98, 146, 202, 1) 
}

ul.dropdown-content.select-dropdown li span {
    color:rgba(73, 97, 125, 1);
}


a {
	color: rgba(98, 146, 202, 1) 
}

input:not([type]).valid,
input:not([type]):focus.valid,
input[type=text].valid,
input[type=text]:focus.valid,
input[type=password].valid,
input[type=password]:focus.valid,
input[type=email].valid,
input[type=email]:focus.valid,
input[type=url].valid,
input[type=url]:focus.valid,
input[type=time].valid,
input[type=time]:focus.valid,
input[type=date].valid,
input[type=date]:focus.valid,
input[type=datetime].valid,
input[type=datetime]:focus.valid,
input[type=datetime-local].valid,
input[type=datetime-local]:focus.valid,
input[type=tel].valid,
input[type=tel]:focus.valid,
input[type=number].valid,
input[type=number]:focus.valid,
input[type=search].valid,
input[type=search]:focus.valid,
textarea.materialize-textarea.valid,
textarea.materialize-textarea:focus.valid {
    border-bottom: 1px solid rgba(98, 146, 202, 1);
    box-shadow: 0 1px 0 0 #4CAF50;
    color:rgba(73, 97, 125, 1);
}



button.tableEditButton {
	border: none;
	background-color: rgba(252, 250, 208, 1);
	color: rgba(98, 146, 202, 1) 
}

.collapsible{
	background-color: rgba(170, 162, 147, .05);
}

.dashMessage {
	text-align: center;
	animation:dashMessage 0.5s 1;
    -webkit-animation:dashMessage 0.5s 1;
    animation-fill-mode: forwards;

    animation-delay:3s;
    -webkit-animation-delay:3s; 
    -webkit-animation-fill-mode: forwards;
}

.messageContainer {
	margin-bottom: 0px !important;
}

/*@keyframes dashMessage{
    from {opacity :1;}
    to {opacity :0;}
}

@-webkit-keyframes dashMessage{
    from {opacity :1;}
    to {opacity :0;}
}*/

.loginFailContainer{
	padding-top: 80px;
	text-align: center;
}

.formEditButton{
	text-align: center;
}

input[type=range]+.thumb.active {
	display: none !important;
}

.side-nav {
	width: 200px;
}

.beta {
	font-weight: 700;
	font-size: 12px;
	opacity: .5;
}

.brand-logo {
	font-size: 24px !important;
}

.stickyBottom{
	padding-top:20px;
	height: 95px;
	text-align: center;
	margin: auto;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0px;
	background-color: rgba(252, 250, 208, .9);
}

.datespan{
	margin-top: 10px;
}

.bottomSpacer {
	height: 64px;
}

.autoRow {
	padding: 15px;
	overflow-y: hidden;
	-webkit-transition: height 1s;
    transition: height 1s;
    -webkit-transition: padding 1s;
    transition: padding 1s;
}

.shiftd {
	padding: 0px;
	-webkit-transition: padding 1s;
    transition: padding 1s;
    -webkit-transition: height 1s;
    transition: height 1s;
}

.shiftRow{
	    -webkit-transition: height 1s;
    transition: height 1s;
}

.tableShow {
	height: 21px;
	padding: 15px;
	opacity: 1;
}

.tableHide {
	padding: 0px;
	height: 0px;
}

.displayNone {
	display: none;
}

#chartdiv {
	height: 500px;
}

.summaryLegend {
	border-bottom-style: solid;
	min-width: 20px;
}


.superHide{
	display: none !important;
	opacity: 0;
}

.showChart{
	display: block;
	opacity: 1;
}

.menuBuilderPanel{
	max-height: 0px;
	overflow-y: hidden;
	-webkit-transition: max-height 3s;
    transition: max-height 3s;
}

.showDiv{
	max-height: 5000px;
	/*overflow-y: visible;*/
}

.hideDiv{
	overflow: hidden;
}

.menuOverflow {
 overflow-y: auto;
}

.CRIheader {
	font-size: 25px;
}

.itemToggle{
	vertical-align: middle;
	height: 36px;
	margin-right: 6px;
	font-size: 30px;
	color: rgba(73, 97, 125, .5);
	cursor: pointer;
	transition: color 1s;
}

.catToggle:hover, .itemToggle:hover{
	color: rgba(98, 146, 202, 1);
}

.catClose:hover {
	color: rgba(171, 51, 50, 1);
}

.catToggle{
	display: inline;
	vertical-align: middle;
	height: 36px;
	margin-right: 6px;
	font-size: 30px;
	color: rgba(73, 97, 125, .5);
	cursor: pointer;
	transition: color 1s;
	float: left;
}

.catClose{
	display: inline;
	vertical-align: middle;
	height: 36px;
	margin-right: 6px;
	font-size: 30px;
	color: rgba(73, 97, 125, .5);
	cursor: pointer;
	transition: color 1s;
	float: right;
}
.ItemHeader {
	background-color: rgba(170, 162, 147, .15);
}


.collapsible-header {
    background-color: rgba(170, 162, 147, .0);
}

[type="checkbox"].filled-in:checked+label:after{
	background-color: rgba(40, 50, 79, 1); 
}

[type="checkbox"].filled-in:checked+label:after {
    border: 2px solid rgba(40, 50, 79, 1); 
}

.menuCategoryHeader {
	display: inline-block;
	text-align: center;
	width: 100%;
}

.catTitle{
	text-align: center;
	display: inline-block;
	margin: 0px;
}

.itemTitle{
	font-family: 'Khand', sans-serif;
	color:rgba(73, 97, 125, 1);
	font-size: 25px;
}

textarea.materialize-textarea {
    color:rgba(73, 97, 125, 1);
}

.menuFormHolder{
	border: solid;
	border-width: 1px;
	border-color: gray;
}

.menuCategoryDivider {
	border-bottom-style: solid;
	border-width: 1px;
	border-color: gray;
}

.testDiv {
	width: 100%;
	height: 500px;
	background-color: red;
}

input.itemTitle{
	width: 80%;
	font-size: 20px;
}

input:not([type]):focus:not([readonly]),
input[type=text]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=url]:focus:not([readonly]),
input[type=time]:focus:not([readonly]),
input[type=date]:focus:not([readonly]),
input[type=datetime]:focus:not([readonly]),
input[type=datetime-local]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]),
input[type=number]:focus:not([readonly]),
input[type=search]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid rgba(40, 50, 79, 1);
    box-shadow: 0 1px 0 0 #26a69a;
}

.input-field input[type=text]:focus + label,
.input-field input[type=password]:focus + label,
.input-field input[type=email]:focus + label,
.input-field input[type=time]:focus + label,
.input-field input[type=date]:focus + label,
.input-field input[type=number]:focus + label,
textarea:focus + label {
     color: rgba(40, 50, 79, 1);
}

#visualization{
	
}



@media only screen and (max-width: 600px) {
   
    .brand-logo img {
	width: 190px ;
			}
    
}

#dashboardText {
	text-align: center;
	font-size: x-large;
	color: #49617e;
}

.grayBorder {
	border: 10px solid #28324f;
	padding: 10px 20px 0px 20px;
	margin-top: 15px;
	margin-bottom: 15px;
	font-family: 'Khand', sans-serif;
	color: #49617e;
}

#cardGoesHere {
	font-size: larger;
}

#abandonedButton {
	font-size: larger;
}

#completedButton {
	font-size: larger;
}

#extendedButton {
	font-size: larger;
}

#modifiedButton {
	font-size: larger;
}

#dashboardHeader {
	text-align: center;
	font-family: 'Khand', sans-serif;
	color: #49617e;
}

#fixFont {
	font-family: 'Khand', sans-serif;
	color: #49617e;
	font-size: 22px;
}