.signUpError {
	color: red;
}

button.tableEditButton {
	border: none;
	background-color: white;
	color: gray;
}

.dashMessage {
	text-align: center;
	animation:dashMessage 0.5s 1;
    -webkit-animation:dashMessage 0.5s 1;
    animation-fill-mode: forwards;

    animation-delay:3s;
    -webkit-animation-delay:3s; 
    -webkit-animation-fill-mode: forwards;
}

.messageContainer {
	margin-bottom: 0px !important;
}

@keyframes dashMessage{
    from {opacity :1;}
    to {opacity :0;}
}

@-webkit-keyframes dashMessage{
    from {opacity :1;}
    to {opacity :0;}
}

.loginFailContainer{
	padding-top: 80px;
	text-align: center;
}

.formEditButton{
	text-align: center;
}

input[type=range]+.thumb.active {
	display: none !important;
}

.side-nav {
	width: 200px;
}

.beta {
	font-weight: 700;
	font-size: 12px;
	opacity: .5;
}

.brand-logo {
	font-size: 24px !important;
}

.stickyBottom{
	padding-top:20px;
	height: 95px;
	text-align: center;
	margin: auto;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0px;
	background-color: rgba(255,255,255,.9);
}

.datespan{
	margin-top: 10px;
}

.bottomSpacer {
	height: 64px;
}

.autoRow {
	padding: 15px;
	overflow-y: hidden;
	-webkit-transition: height 1s;
    transition: height 1s;
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
    -webkit-transition: padding 1s;
    transition: padding 1s;
}

.shiftd {
	padding: 0px;
	-webkit-transition: padding 1s;
    transition: padding 1s;
}

.tableShow {
	height: 21px;
	padding: 15px;
	opacity: 1;
	display: table-row;
}

.tableHide {
	padding: 0px;
	height: 0px;
}

.displayNone {
	display: none;
}

#chartdiv {
	height: 500px;
}

.summaryLegend {
	border-bottom-style: solid;
	min-width: 20px;
}


.superHide{
	display: none !important;
	opacity: 0;
}

.showChart{
	display: block;
	opacity: 1;
}

